@import "bootstrap/dist/css/bootstrap.min.css";

body{
    margin: 0;
    min-height: 100vh;
    
    background-image: url("assets/img/wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
